
<!DOCTYPE html>
<html>

<head>
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="//fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&amp;subset=cyrillic,latin-ext,vietnamese" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Arsenal:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">

    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    @*<link href="~/Content/css/lightbox.css" rel="stylesheet" />*@

    @*<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />


        <link href="~/Content/css/bootstrap.css" rel="stylesheet" />*@
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>
    <!-- header -->
    <div class="header-w3layouts">
        <!-- Navigation -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Golf Club</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1><a class="navbar-brand" href="index.html"><span>G</span>olf Club</a></h1>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">

                    @Html.Partial("_menu")

                </ul>
            </div>
            <!-- //navbar-collapse -->
            <div class="img-right-agile">
                <ul class="w3l-name">
                    <li>
                        <h3>@ViewBag.Nombre</h3>
                        <p>@ViewBag.Correo</p>
                    </li>
                    <li>

                       
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </nav>
    </div>
   
        <div class="main-agile">

            <!-- banner -->
            <div id="home" class="w3ls-banner">
                <!-- banner-text -->
                <div class="slider">
                    <div class="callbacks_container">
                        <ul class="rslides callbacks callbacks1" id="slider4">
                            <li>
                                <div class="w3layouts-banner-top">
                                    <div class="container">
                                        <div class="agileits-banner-info">
                                            <div class="posi-w3l">
                                                <p>Bienvenido,Club Golf</p>
                                            </div>
                                            <h3>Juega Golf en nuestro club</h3>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="w3layouts-banner-top t2">
                                    <div class="container">
                                        <div class="agileits-banner-info">
                                            <div class="posi-w3l">
                                                <p>Bienvenido,Club Golf</p>
                                            </div>
                                            <h3>Diviertete jugando Golf</h3>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="w3layouts-banner-top t3">
                                    <div class="container">
                                        <div class="agileits-banner-info">
                                            <div class="posi-w3l">
                                                <p>Bienvenido,Club Golf</p>
                                            </div>
                                            <h3>El mejor lugar para jugar Golf</h3>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                    <!--banner Slider starts Here-->
                </div>
            </div>
            <!-- //banner -->
            <!-- banner-bottom -->
            <div class="banner-bottom">
                <div class="container">
                    <div class="col-md-4 col-sm-4 agileits_w3layouts_banner_bottom_grid">
                        <div class="hovereffect">
                            <img src="~/Content/images/gr3.jpg" alt=" " class="img-responsive" />
                            <div class="wthree_banner_bottom_grid_pos">
                                <h4>Golf Club</h4>
                            </div>
                            <div class="overlay">
                                <h3 class="w3_instruments">YAZ GOLF CLUB</h3>
                                <div class="rotate">
                                    <p class="group1">
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </p>
                                    <hr>
                                    <hr>
                                    <p class="group2">
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 agileits_w3layouts_banner_bottom_grid">
                        <div class="hovereffect">
                            <img src="~/Content/images/gr1.jpg" alt=" " class="img-responsive" />
                            <div class="wthree_banner_bottom_grid_pos">
                                <h4>Golf Club</h4>
                            </div>
                            <div class="overlay">
                                <h3 class="w3_instruments">YAZ GOLF CLUB</h3>
                                <div class="rotate">
                                    <p class="group1">
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </p>
                                    <hr>
                                    <hr>
                                    <p class="group2">
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 agileits_w3layouts_banner_bottom_grid">
                        <div class="hovereffect">
                            <img src="~/Content/images/gr2.jpg" alt=" " class="img-responsive" />
                            <div class="wthree_banner_bottom_grid_pos">
                                <h4>Golf Club</h4>
                            </div>
                            <div class="overlay">
                                <h3 class="w3_instruments">YAZ GOLF CLUB</h3>
                                <div class="rotate">
                                    <p class="group1">
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </p>
                                    <hr>
                                    <hr>
                                    <p class="group2">
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- //banner-bottom -->
        </div>	    <!-- //header -->

        <div class="container body-content">
            @RenderBody()
            <hr />

            <!-- Footer -->
            <div class="logo-footer">
                <div class="container">
                    <div class="col-md-3 agileinfo_footer_grid">
                        <h2>Nosotros</h2>
                        <p>
                            Duis aute irure dolor in esse cillum dolore eu
                            fugiat nulla pariatur. <span>
                                Excepteur sint proident
                                sunt in culpa qui officia anim id est laborum.
                            </span>
                        </p>
                        <div class="w3ls-social-icons-2">
                            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="pinterest" href="#"><i class="fa fa-google-plus"></i></a>
                            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            <a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3 agileinfo_footer_grid f3">
                        <p>
                            Duis aute irure dolor in esse cillum dolore eu
                            fugiat nulla pariatur. <span>
                                Excepteur sint proident
                                sunt in culpa qui officia anim id est laborum.
                            </span>
                        </p>
                    </div>
                    <div class="col-md-3 agileinfo_footer_grid f2">
                        <h4>Informacion</h4>
                        <div class="w3-agileits_mail_grid_left">
                            <div class="w3-agileits_mail_grid_left1">
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            </div>
                            <div class="w3-agileits_mail_grid_left2">
                                <h3>EMAIL</h3>
                                <a href="">belkisvasquez@outlok.es</a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="w3-agileits_mail_grid_left">
                            <div class="w3-agileits_mail_grid_left1">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            </div>
                            <div class="w3-agileits_mail_grid_left2">
                                <h3>DIRECCION</h3>
                                <p>Doctor Luis J Suarez</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="w3-agileits_mail_grid_left">
                            <div class="w3-agileits_mail_grid_left1">
                                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                            </div>
                            <div class="w3-agileits_mail_grid_left2">
                                <h3>TELEFONO</h3>
                                <p>+809-305-9286</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="col-md-3 agileinfo_footer_grid f1">
                        <h4>Instagram Posts</h4>
                        <div class="agileinfo_footer_grid1">
                            <a href="#"><img src="~/Content/images/f1.jpg" alt=" " class="img-responsive"></a>
                        </div>
                        <div class="agileinfo_footer_grid1">
                            <a href="#"><img src="~/Content/images/f2.jpg" alt=" " class="img-responsive"></a>
                        </div>
                        <div class="agileinfo_footer_grid1">
                            <a href="#"><img src="~/Content/images/f3.jpg" alt=" " class="img-responsive"></a>
                        </div>
                        <div class="agileinfo_footer_grid1">
                            <a href="#"><img src="~/Content/images/f4.jpg" alt=" " class="img-responsive"></a>
                        </div>
                        <div class="agileinfo_footer_grid1">
                            <a href="#"><img src="~/Content/images/f5.jpg" alt=" " class="img-responsive"></a>
                        </div>
                        <div class="agileinfo_footer_grid1">
                            <a href="#"><img src="~/Content/images/f6.jpg" alt=" " class="img-responsive"></a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="w3agile_footer_copy">
                        <p>© 2019 Golf Club. All rights reserved | Design by <a href="">Belkis Vasquez  2018-6504.</a></p>
                    </div>
                </div>
            </div>
            <!-- //Footer -->
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <!-- js-scripts -->
        <!-- js-files -->


        <script type="text/javascript" src="~/Content/js/jquery-2.1.4.min.js"></script>
        <!-- //js-files -->
        <!-- Baneer-js -->
        <script src="~/Content/js/responsiveslides.min.js"></script>


        <script>
            // You can also use "$(window).load(function() {"
            $(function () {
                // Slideshow 4
                $("#slider4").responsiveSlides({
                    auto: true,
                    pager: true,
                    nav: false,
                    speed: 500,
                    namespace: "callbacks",
                    before: function () {
                        $('.events').append("<li>before event fired.</li>");
                    },
                    after: function () {
                        $('.events').append("<li>after event fired.</li>");
                    }
                });

            });
        </script>
        <!-- //Baneer-js -->
        <!-- start-smooth-scrolling -->

        <script type="text/javascript" src="~/Content/js/move-top.js"></script>
        <script type="text/javascript" src="~/Content/js/easing.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();

                    $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
                });
            });
        </script>
        <!-- //end-smooth-scrolling -->
        <!-- smooth scrolling -->
        <script src="~/Content/js/SmoothScroll.min.js"></script>

        <!-- //smooth scrolling -->
        <!-- smooth-scrolling-of-move-up -->
        <script type="text/javascript">
            $(document).ready(function () {
                /*
                var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                };
                */

                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>

        <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
        <!-- //js-scripts -->

</body>
</html>



@*<!DOCTYPE html>

    <html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        @Html.Partial("_menu")
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
